*.csv
*.json
*bak*.*
response_report*.txt

# Ignore all files in bin, include, lib, and obj directories
lib/*
bin/*
bin/activate
*data*/*
share/*
.DS_Store
notebook/data_storage_parsed*.*
parsed_openai_response*.*
*.zip
notebook/Step02_process_openai_report_*.txt

# Exceptions
!supp. files/*

